USE [master]
GO
/****** Object:  Database [LinenAndbird]    Script Date: 10/5/2021 9:24:23 PM ******/
CREATE DATABASE [LinenAndbird]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LinenAndbird', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LinenAndbird.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LinenAndbird_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LinenAndbird_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LinenAndbird].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LinenAndbird]
GO
/****** Object:  Table [dbo].[BirdAccessories]    Script Date: 10/5/2021 9:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdAccessories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BirdId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Birds]    Script Date: 10/5/2021 9:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birds](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Color] [varchar](25) NOT NULL,
	[Size] [varchar](10) NOT NULL,
	[Name] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hats]    Script Date: 10/5/2021 9:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hats](
	[Id] [uniqueidentifier] NOT NULL,
	[Designer] [varchar](200) NULL,
	[Color] [varchar](25) NOT NULL,
	[Style] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/5/2021 9:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[BirdId] [uniqueidentifier] NOT NULL,
	[HatId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BirdAccessories] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Birds] ADD  CONSTRAINT [DF_Birds_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Hats] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Hats] ADD  DEFAULT ((0)) FOR [Style]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[BirdAccessories]  WITH CHECK ADD  CONSTRAINT [FK_BirdAccessories_Birds] FOREIGN KEY([BirdId])
REFERENCES [dbo].[Birds] ([Id])
GO
ALTER TABLE [dbo].[BirdAccessories] CHECK CONSTRAINT [FK_BirdAccessories_Birds]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_BirdId_BirdsID] FOREIGN KEY([BirdId])
REFERENCES [dbo].[Birds] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_BirdId_BirdsID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_HatId_HatsID] FOREIGN KEY([HatId])
REFERENCES [dbo].[Hats] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_HatId_HatsID]
GO
USE [master]
GO
